body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.container {
	max-width: 960px;
    margin: 0 auto;
}

h2 {
	padding-top: 75px;
 	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat';
	text-transform: uppercase;
  	line-height: 1.875;
}

h3 {
	font-size: 18px;
	font-family: 'Montserrat';
	text-transform: uppercase;
  	line-height: 1.875;
  	padding-top: 25px;
}

h4 {
	margin: 0;
}

p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: rgb(119, 119, 119);
  	line-height: 1.2;
}

.global-button {

	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat';
	margin-top: 15px;
	border: none;
	background-color: rgb(124, 197, 118);
	border-radius: 15px;
	color: white;
	text-transform: uppercase;
	 outline: none;
	 font-size: 15px;
	 font-weight: bold;
	 text-align: center;
	 height: 60px;
	 width: 180px;
 
}

.global-button:hover {
	background-color: #3e8e41
}

.global-button:active {
   background-color: #3e8e41;
   outline: none;
   transform: translateY(4px);
}


/*--------------------------NAVBAR-----------------------------*/

.navbar {
	display: flex; 
	padding: 25px;
}

.navbar_logo {
	flex: 1;
	list-style-type: none;
}


.navbar_menu  {
	flex: 1;
	list-style-type: none;
	display: flex;
	
}

.navbar_li a {
	width: 50px;
	margin-left: 30px;
	text-decoration: none;
	font-size: 14px;
	color: rgb(119, 119, 119);
	text-transform: uppercase;
 
}


/*--------------------------MAIN BANNER-----------------------------*/

.main-banner {
	display: flex;
	color: white;
	background-size: content;
	min-height: 530px;
	background: url("//images/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.main-banner_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 530px;
    width: 100%;
}

.main-banner_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main-banner h1 {
 	z-index: 1;
 	max-width: 520px;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Montserrat', extra-bold;
}






/*---------------------SERVICES----------------*/

.service {
	width: 100%;
	min-height: 530px;*/
}

.service_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: center;
	
}

.service_skills {
	display: flex;
	flex-direction: wrap;
	padding-top: 45px;
	padding-bottom: 45px;
	justify-content: space-between;

}

.service_skills_list {
	font-size: 15px;
	margin: 25px;
	text-align: center;
}

.service_skills_list h3 {
	text-transform: uppercase;
}



/*----------------------RELAX--------------------------*/

.relax {
	display: flex;
	min-height: 616px;
	justify-content: flex-end;
	flex-direction: row;

}

.relax_left {
	width: 30%;
	height: 100%;
	background: url("images/relax-left-background.jpg") no-repeat;
}


.relax_right {
	z-index: 1;
	width: 70%;
	height: 100%;
	/*background-attachment: fixed;*/
	background: url("images/relax-right-background.jpg") no-repeat;
	background-size: cover;
}


.relax_right {
  text-align: left;
  color: white;
  position: relative;
 /* background-attachment: fixed;*/
}

.relax_right:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
   background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.relax_right_content {
	line-height: 40px;
	max-width: 500px;
	padding: 80px 0 0 100px;
}

.relax_right_content ul, p {
	margin-top: 25px;
	padding: 0;
	list-style-type: none;
	color: rgb(204, 204, 204);
	font-size: 16px;
}


.relax_right_content li::before {
    content: url(icons/checkmark.png);
    vertical-align: -30%;
    padding-right: 20px;
}

.relax_right_content img {	
	padding-right: 25px;
}

.relax_right_content button {
	margin-top: 30px;
}


.relax_right_content span {
	color: rgb(124, 197, 118);
}

.relax_right_content li {
	text-decoration: none;
}

/*-----------------------PROJECT---------------------*/

.project {
	min-height: 833px;
	display: flex;
	background: url(images/project-background.jpg) no-repeat;
	background-size: cover;
} 



.project h2 {
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}


.subtitle {
	font-size: 20px;
	margin-top: 36px;
	text-align: center;
}

.project_content {
	display: flex;
	flex-direction: column;
	padding-right: 50%;
	/*max-width: 350px;*/
	margin: 25px;
}

.project_content-header {
	text-align: center;
}

.project_icon {
	position: relative;
	top: 55px;
  	left: 5px;
  	padding-right: 25px;
}

.project__row--1, .project__row--2, .project__row--3 {
	display: flex;
	justify-content: column;
	align-items: baseline;
	
}

.hypertext {
	margin-top: 50px;
}

.hypertext-link { 
	padding-top: 25px;

	text-transform: uppercase;
	color: rgb(124, 197, 118);
	font-family: "Montserrat";
	font-size: 16px;
	text-decoration: none;

 }

/*----------CULTURE CONTENT--------------*/

 .culture {
 	min-height: 530px;
 	background-color: rgb(249, 249, 249);
 }

 .culture_content {
	display: flex;
	flex-direction: wrap;
	padding-top: 45px;
	padding-bottom: 45px;
	justify-content: space-between;

}

.culture_content-list {
	font-size: 15px;
	margin: 25px;
	text-align: center;
}

.culture_header  {
	padding-top: 20px;
}

/*-------------CLIENTS---------------*/

.clients {
	min-height: 530px;
	background-color: rgb(255,255,255);
}

.clients_content {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.clients_column1, .clients_column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.clients_content-circle {

	background-color: rgb(249 , 249, 249);
	width: 220px;
	height: 220px;
	margin: 25px;
	border-radius: 50%;
}

.clients_content-text, .clients_content-text--2 {

	position: relative;
	background-color: rgb(249 , 249, 249);
	width: 650px;
	height: 170px;
	margin: 50px 25px 25px 25px;
}

.clients_content-text p, .clients_content-text--2 p   {
	font-size: 22px;
	padding: 0px 50px 0px 50px ;
	color: rgb(119, 119, 119);
	text-align: center;
}

.clients_footer {
	text-align: center;
	color: rgb(124, 197, 118);
	 font-size: 18px;

	
}


.clients_content-text::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: -15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 15px);
  background-color: #f9f9f9;
}

.clients_content-text--2::before {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	right: -15px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: calc(50% - 15px);
	background-color: #f9f9f9;
}


/*-----------------NEXT PROJECT----------------------*/


.next-project {
	display: flex;
	background-color: rgb(124, 197, 118);
	min-height: 250px;
	
}

.next-project_content {
	display: flex;
	margin-bottom: 75px;
	flex-direction: column;
	align-items: center;
}

.next-project_content h2 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  
  }

.next-project_content--button {
  	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat';
	margin-top: 15px;
	border-style: solid;
  	border-width: 3px;
	border-color: rgb(255, 255, 255);
	background-color: rgb(124, 197, 118);
	border-radius: 4px;
	color: white;
	text-transform: uppercase;
	 outline: none;
	 font-size: 15px;
	 font-weight: bold;
	 text-align: center;
	 height: 60px;
	 width: 180px;
}

.next-project_content--button:hover {
	background-color: rgb(255,255,255);
	color: rgb(124, 197, 118);

}

/*----------------LOGOS-------------------------*/


.logos {
	min-height: 165px;
}

.logos_content {
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 25px;
}


/*---------------FOOTER--------------------*/

.footer {
	min-height: 360px;
	background-color: rgb( 34, 34, 34);
}

.footer h3 {
	color: white;
}

.footer p {
	margin: 25px 0px 25px 0px;
	height: 30px;
	padding-left: 50px;
}

.footer ul {
	margin: 0;
	padding: 0;

}

.footer__column--container {
	display: flex;
	justify-content: space-between;
}

.footer__column1 {
	margin: 0 0 40px 0;
	padding: 0 50px;
}

.footer__column1--paragraph1  {
	max-width: 100px;
	background: url(icons/location.png) no-repeat;
}

.footer__column1--paragraph2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(icons/iphone.png) no-repeat;
}

.footer__column1--paragraph3 {
	background: url(icons/email.png) no-repeat;
}

.footer__column2 p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 40px 0;
	padding: 0 50px;
}

.footer__column2--paragraph2 {
	background: url(icons/photo.png) no-repeat;
}

.footer__column2--paragraph1, .footer__column2--paragraph3, .footer__column2--paragraph4 {
	background: url(icons/news.png) no-repeat;
}


.footer__column2--paragraph5 {
	background: url(icons/media.png) no-repeat;
}

.footer__column3 {
	flex: 1; 

}

.footer__column3 p {
	margin: 0 0 70px 0;
	padding: 0 50px;
	
}

.footer__column3--paragraph1, .footer__column3--paragraph2 {
	background: url(icons/twitter.png) no-repeat;
}


.bold {
	display: flex;
	font-weight: bold;
}

.footer li {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

/*----------MEDIA FOOTER---------------*/

.media_footer {
	/*display: flex;*/
	min-height: 100px;
}

.media__footer-content {
	display: flex;
	margin-top: 25px;
}

.media__footer--footer {
	margin-top: 25px;
}

.media__footer--icons {
	margin: 10px 50px 0 50px;
}

.media__footer--icons img {
	padding: 0 10px 0 10px;
}


/*.img {
  border-radius: 50%;
  background-color: rgb(34, 34, 34);
  
}*/


/* ---------- RWD -------------- */
@media(max-width: 1000px) {



@media(max-width: 700px) {

	.clients_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.clients_content-circle {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;

	}

	.clients_column1  {
		display: flex;
		flex-direction: column;git 
	}

	.clients_column2 {
		display: flex;
		flex-direction: column-reverse;
	}


	.clients_content-text, .clients_content-text--2 {

		max-width: 300px;
		min-height: 300px;
		margin: 50px 25px 25px 25px;
	}
	
	.service_skills, .culture_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 40px;
		padding: 40px;

	}

	.clients_content-text::before {
	 display: none;
	}

	.clients_content-text--2::before {
		display: none;
	}


	.relax_left {
		display: none;
	}

	.relax_right {
		display: flex;
		width: 100%;
	}

	.clients_column1 {
		display: flex;
		flex-direction: column;
	}

	.clients_column2 {
		display: flex;
		flex-direction: column-reverse;
	}

	.clients_content-circle {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*.clients_content-text, .clients_content-text--2 {
		
	}*/

	/*.global_button {
		display: flex;
	}*/

	.relax_right_content {
	line-height: 40px;
	max-width: 500px;
	padding-left: 50px;

	}

	.service_header {
		margin: 15px;
	}

	.project_content {
		padding-right: 0 !important;
	}

	.logos_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.logos_content img {
		padding: 25px;
		height: 50%;
		width: 50%;
	}

	.footer h3 {
		text-align: center;
	}

	.footer__column--container {
		display: flex;
		flex-direction: column;
	}

	.footer__column2, .footer__column3 {
		padding-left: 50px;
		padding-bottom: 50px;
	}
	

}	

