body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

.container {
	max-width: 960px;
    margin: 0 auto;
}

h2 {
	font-size: 30px;
	font-family: 'Montserrat';
	text-transform: uppercase;
  	line-height: 1.875;
}

h3 {
	font-size: 18px;
	font-family: 'Montserrat';
	text-transform: uppercase;
  	line-height: 1.875;
  	padding-top: 25px;
}

h4 {
	margin: 0;
}



p {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: rgb(119, 119, 119);
  	line-height: 1.2;
}

.global-button {

	text-align: center;
	text-decoration: none;
	font-family: 'Montserrat';
	margin-top: 15px;
	border: none;
	background-color: rgb(124, 197, 118);
	border-radius: 15px;
	color: white;
	text-transform: uppercase;
	 outline: none;
	 font-size: 15px;
	 font-weight: bold;
	 text-align: center;
	 height: 60px;
	 width: 180px;
 
}

.global-button:hover {
	background-color: #3e8e41
}

.global-button:active {
   background-color: #3e8e41;
   outline: none;
   transform: translateY(4px);
}


/*--------------------------NAVBAR-----------------------------*/

.navbar {
	display: flex; 
	padding: 25px;
}

.navbar_logo {
	flex: 1;
	list-style-type: none;
}


.navbar_menu  {
	flex: 1;
	list-style-type: none;
	display: flex;
	
}

.navbar_li a {
	width: 50px;
	margin-left: 30px;
	text-decoration: none;
	font-size: 14px;
	color: rgb(119, 119, 119);
	text-transform: uppercase;
 
}

/*#selling-points:after {
	display: block;
	content: "";
	clear: both;
}*/


/*--------------------------MAIN BANNER-----------------------------*/

.main-banner {
	display: flex;
	color: white;
	background-size: content;
	min-height: 530px;
	background: url("icons/background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.main-banner_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 530px;
    width: 100%;
}

.main-banner_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main-banner h1 {
 	z-index: 1;
 	max-width: 520px;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: 'Montserrat', extra-bold;
}






/*---------------------SERVICES----------------*/

.service {
	/*display: flex;
	flex-wrap: wrap;*/
	width: 100%;
	min-height: 530px;*/
}

.service_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: center;
	
}

.service_skills {
	display: flex;
	flex-direction: wrap;
	padding-top: 45px;
	padding-bottom: 45px;
	/*margin: 70px;*/
/*	flex-wrap: wrap;*/
	/*flex-direction: center;*/
	justify-content: space-between;

}

.service_skills_list {
	/*flex-direction: row;*/
	font-size: 15px;
	margin: 25px;
	/*display: block;*/
	/*width: 30%;
	padding: 3.3%;*/
	text-align: center;
}

.service_skills_list h3 {
	text-transform: uppercase;
}



/*----------------------RELAX--------------------------*/

.relax {
	display: flex;
	height: 616px;

	justify-content: flex-end;
	flex-direction: row;

}

.relax_left {
	width: 30%;
	height: 100%;
	background: url("icons/relax-left-background.jpg") no-repeat;
}


.relax_right {
	z-index: 1;
	width: 75%;
	height: 100%;
	/*background-attachment: fixed;*/
	background: url("icons/relax-right-background.jpg") no-repeat;
	background-size: cover;
}


.relax_right {
  text-align: left;
  color: white;
  position: relative;
 /* background-attachment: fixed;*/
}

.relax_right:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
   background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.relax_right_content {
	line-height: 40px;
	max-width: 500px;
	padding: 80px 0 0 100px;
}

.relax_right_content ul, p {
	margin-top: 25px;
	padding: 0;
	list-style-type: none;
	color: rgb(204, 204, 204);
	font-size: 16px;
}

.relax_right_content li {
	
}

.relax_right_content li::before {
    content: url(icons/checkmark.png);
    vertical-align: -30%;
    padding-right: 20px;
}

.relax_right_content img {	
	padding-right: 25px;
}

.relax_right_content button {
	margin-top: 30px;
}


.relax_right_content span {
	color: rgb(124, 197, 118);
}

.relax_right_content li {
	text-decoration: none;
}

/*-----------------------PROJECT---------------------*/

.project {
	height: 833px;
	display: flex;
	justify-content: flex-start;
	background: url(icons/project-background.jpg) no-repeat;
	background-size: cover;
}

.project h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}


.subtitle {
	font-size: 20px;
	margin-top: 36px;
	text-align: center;
}

.project_content {
	width: 50%;
}

.project_icon {
	 position: relative;
  	top: 25px;
  	left: 5px;
  	padding-right: 25px
}

.project__row--1, .project__row--2, .project__row--3 {
	display: flex;
	justify-content: column;
	align-items: baseline;
	
}

.hypertext-link { 
	padding-top: 25px;
 }


@media(max-width: 700px) {
	
	.service_skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 25px;
		padding: 25px;

	}

	.service_header {
		margin: 15px;
	}

	.service_skills p {
		
	}
}


